init
add
/home/denes/Documents/Labor/LinguaSocium/android-build
file:///home/denes/Documents/Labor/LinguaSocium/android-build
android-build/
bin/
moc/
obj/
ui/
LinguaSocium.pro.user
android-libLinguaSocium.so-deployment-settings.json
android_release.keystore
app_process
libc.so
